.skillsBlock {
    min-height: 50vh;

    display: flex;

}

.skillsContainer {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;


}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #1e2125;;

}
@media screen and (max-width: 600px) {
    .title {
        font-size: 40px;
        margin-top: 40px;
    }

}

.skillsContainer:before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dce1e4;

}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


