.skillsBlock {
    min-height: 50vh;
    display: flex;
    background-color: #61dafb;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;


}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}


