.projectsBlock {
    min-height: 50vh;
    display: flex;
    margin-bottom: 40px;

}

.projectsContainer {
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;


}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: #1e2125;;

}

.projectsContainer:before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #dce1e4;

}

.items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


